* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.slider-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
}

#slide1 {
    background-image: url('assets/1.png');
}

#slide2 {
    background-image: url('assets/2.png');
}

#slide3 {
    background-image: url('assets/3.png');
}

#slide4 {
    background-image: url('assets/4.png');
}

#slide5 {
    background-image: url('assets/5.png');
}

#slide6 {
    background-image: url('assets/6.png');
}

#slide7 {
    background-image: url('assets/7.png');
}

#slide8 {
    background-image: url('assets/8.png');
}

#slide9 {
    background-image: url('assets/9.png');
}

#slide10 {
    background-image: url('assets/10.png');
}

#slide11 {
    background-image: url('assets/11.png');
}

#slide12 {
    background-image: url('assets/12.png');
}

#slide13 {
    background-image: url('assets/13.png');
}

#slide14 {
    background-image: url('assets/14.png');
}

#slide15 {
    background-image: url('assets/15.png');
}

#slide16 {
    background-image: url('assets/16.png');
}

#slide17 {
    background-image: url('assets/17.png');
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 1;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 1.75rem;
    border-radius: 50%;
}

#prev {
    position: absolute;
    left: 20px;
}

#next {
    position: absolute;
    right: 20px;
}

@media (max-width: 500px) {
    .navigation {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
        z-index: 1;
    }

    .nav-button {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 50%;
    }
    #prev {
        position: absolute;
        left: 10px;
    }

    #next {
        position: absolute;
        right: 10px;
    }
}
.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 1290px) {
    .button-group {
        position: absolute;
        bottom: 27.7vh;
        margin: auto;
        transform: translateX(-0.75vh);
        width: 103.7vh;
        display: flex;
        justify-content: space-between;
    }

    .round-button {
        width: 14.7vh;
        height: 14.7vh;
        background-color: black;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

    .light-group {
        position: absolute;
        top: 13.2vh;
        margin: auto;
        transform: translateX(43.2vh);
        width: 32.5vh;
        display: flex;
        justify-content: space-between;
    }

    .light {
        width: 12.5vh;
        height: 12.5vh;
        background-size: cover;
        filter: brightness(40%);
    }
}

@media (max-width: 1289px) {
    .button-group {
        position: absolute;
        margin: auto;
        transform: translateX(-0.5vw) translateY(9.6vw);
        width: 76.5vw;
        display: flex;
        justify-content: space-between;
    }

    .round-button {
        width: 12.7vw;
        height: 12.7vw;
        background-color: black;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

    .light-group {
        position: absolute;
        margin: auto;
        transform: translateX(31.2vw) translateY(-22.6vw);
        width: 24.5vw;
        display: flex;
        justify-content: space-between;
    }

    .light {
        width: 10.5vw;
        height: 10.5vw;
        background-size: cover;
        filter: brightness(40%);
    }
}

@media (max-width: 500px) {
    .button-group {
        position: absolute;
        margin: auto;
        transform: translateX(-0.5vw) translateY(8.6vw);
        width: 76.5vw;
        display: flex;
        justify-content: space-between;
    }

    .round-button {
        width: 13.7vw;
        height: 13.7vw;
        background-color: black;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

    .light-group {
        position: absolute;
        margin: auto;
        transform: translateX(31.2vw) translateY(-22.6vw);
        width: 24.5vw;
        display: flex;
        justify-content: space-between;
    }

    .light {
        width: 10.5vw;
        height: 10.5vw;
        background-size: cover;
        filter: brightness(40%);
    }
}

@media (max-height: 500px) {
    .button-group {
        position: absolute;
        bottom: 27.7vh;
        margin: auto;
        transform: translateX(-0.75vh);
        width: 103.7vh;
        display: flex;
        justify-content: space-between;
    }

    .round-button {
        width: 14.7vh;
        height: 14.7vh;
        background-color: black;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

    .light-group {
        position: absolute;
        top: 13.2vh;
        margin: auto;
        transform: translateX(43.2vh);
        width: 32.5vh;
        display: flex;
        justify-content: space-between;
    }

    .light {
        width: 12.5vh;
        height: 12.5vh;
        background-size: cover;
        filter: brightness(40%);
    }
}

.round-button:hover {
    background-color: #333;
}

.light-on {
    filter: brightness(100%);
}